{% extends 'base.html.twig' %}

{% block body %}
           
            
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Evenement</h1>
                </div>
            </div><!--/.row-->
                    
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Evenement index</div>
                        <div class="panel-body">
                            <div class="col-md-12">
                                
                                <table class="table">
                                        <thead>
                                            <tr>
                                                
                                                <th>Titre</th>
                                                <th>DebutAt</th>
                                                <th>FinAt</th>
                                                <th>Prix</th>
                                                <th>NbrPlace</th>
                                                <th>Image</th>
                                                <th>Description</th>
                                                <th>Lieux</th>
                                                <th>Category</th>
                                                <th>actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for evenement in evenements %}
                                            <tr>
                                                
                                                <td>{{ evenement.titre }}</td>
                                                <td>{{ evenement.debutAt ? evenement.debutAt|date('Y-m-d H:i:s') : '' }}</td>
                                                <td>{{ evenement.finAt ? evenement.finAt|date('Y-m-d H:i:s') : '' }}</td>
                                                <td>{{ evenement.prix }}</td>
                                                <td>{{ evenement.nbrPlace }}</td>
                                                <td>{{ evenement.image }}</td>
                                                <td>{{ evenement.description }}</td>
                                                <td>{{ evenement.lieux }}</td>
                                                <td>{{ evenement.category.titre }}</td>

                                                <td>
                                                    <a href="{{ path('evenement_show', {'id': evenement.id}) }}">show</a>
                                                    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>
                                                </td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="10">no records found</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                               
                            </div>
                        </div>
                    </div>
            
                    {% if catygorys is empty %}
                    <a href="{{ path('category_new') }}">Create new category</a>
                    
                    {% else %}
                    <a href="{{ path('evenement_new') }}">Create new Evenement</a>
                    {% endif %}
                    
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                Calendar
                                <ul class="pull-right panel-settings panel-button-tab-right">
                                    <li class="dropdown"><a class="pull-right dropdown-toggle" data-toggle="dropdown" href="#">
                                        <em class="fa fa-cogs"></em>
                                    </a>
                                        <ul class="dropdown-menu dropdown-menu-right">
                                            <li>
                                                <ul class="dropdown-settings">
                                                    <li><a href="#">
                                                        <em class="fa fa-cog"></em> Settings 1
                                                    </a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">
                                                        <em class="fa fa-cog"></em> Settings 2
                                                    </a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#">
                                                        <em class="fa fa-cog"></em> Settings 3
                                                    </a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <span class="pull-right clickable panel-toggle panel-button-tab-left"><em class="fa fa-toggle-up"></em></span></div>
                            <div class="panel-body">
                                <div id="calendar"></div>
                            </div>
                    

       
    </div>
</div>


    {% endblock %}
