{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ evenement.titre }}</td>
            </tr>
            <tr>
                <th>DebutAt</th>
                <td>{{ evenement.debutAt ? evenement.debutAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>FinAt</th>
                <td>{{ evenement.finAt ? evenement.finAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ evenement.prix }}</td>
            </tr>
            <tr>
                <th>NbrPlace</th>
                <td>{{ evenement.nbrPlace }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td> <img src="/uploads/{{ evenement.image }}" width="500" height="200" alt=""></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ evenement.description }}</td>
            </tr>
            <tr>
                <th>Lieux</th>
                <td>{{ evenement.lieux }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('evenement_index') }}">back to list</a>

    <a href="{{ path('evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
