{% extends 'base.html.twig' %}

{% block title %}Hello EspaceAdminController!{% endblock %}

{% block body %}
<!--/.sidebar-->
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
<a href="{{ path('eventfront') }}"> </a>



<section class="pb100">
    <div class="row">
        {% for evenement in evenements %}
        <div class="col-md-4">
        <div class="card" style="width: 15rem;">
                <img class="card-img-top" width="382" height="385" src="/uploads/{{ evenement.image }}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{ evenement.titre }}|{{ evenement.debutAt ? evenement.debutAt|date('Y-m-d') : '' }} | Prix :{{ evenement.prix }} {{ evenement.devises.titre }}</h5>
                  <p class="card-text">{{ evenement.description }}</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
       
            
    
        
            {% endfor %}
            
            <a href="{{ path('eventfront') }}" class="btn btn-primary btn-rounded">Partir Front</a>
        
</section>


        {% else %}
            {% block fos_user_content %}
            
                 
            {% endblock fos_user_content %}
        {% endif %}

        
        
 
{% endblock %}
