<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Evento -Event Html Template">
    <meta name="keywords" content="Evento , Event , Html, Template">
    <meta name="author" content="ColorLib">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   
    {% block stylesheets %}
    <!-- calander CSS -->
    
        
    <link rel="stylesheet" href="{{ asset('/style-personal.css') }}">
        
        <link rel="stylesheet" href="http://weloveiconfonts.com/api/?family=fontawesome">

     <!-- Bootstrap CSS -->
     <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

     <!-- Fonts Icon CSS -->
     <link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet">
     <link href="{{ asset('assets/css/et-line.css') }}" rel="stylesheet">
     <link href="{{ asset('assets/css/ionicons.min.css') }}" rel="stylesheet">
     <!-- Carousel CSS -->
     <link href="{{ asset('assets/css/owl.carousel.min.css') }}" rel="stylesheet">
     <link href="{{ asset('assets/css/owl.theme.default.min.css') }}" rel="stylesheet">
     <!-- Animate CSS -->
     <link rel="stylesheet" href="{{ asset('assets/css/animate.min.css') }}">
     <!-- Custom styles for this template -->
     <link href="{{ asset('assets/css/main.css') }}" rel="stylesheet">
     
    {% endblock %}
    
</head>
<body>
        <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>
            </div>
            
            <!--header start here -->
            <header class="header navbar fixed-top navbar-expand-md">
                <div class="container">
                    <a class="navbar-brand logo" href="#">
                        <img src="/assets/img/logo.png" alt="Evento"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="lnr lnr-text-align-right"></span>
                    </button>
                    <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
                        <ul class=" nav navbar-nav menu">
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ path('eventfront') }}">Accueil</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('liste_evenet') }}">Events</a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="nav-item">
                                    <a class="nav-link"  href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            
                                {% else %}
                                <li class="nav-item">
                                        <a class="nav-link " href="/Evento/register">Inscription</a>
                                    </li>
                                    <li class="nav-item">
                                            <a class="nav-link " href="{{ path('fos_user_security_login') }}">Login</a>
                                    </li>
                                {% endif %}
                                {% if is_granted ('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link " href="{{ path('espace_admin') }}">DashBord Admin</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link"  href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                </li>
                            {% endif %}
                            
                            <li class="search_btn">
                                <a  href="{{ path('searchEvent', {'date':"null"},{'id':"null"} ) }}">
                                   <i class="ion-ios-search"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </header>
            <!--header end here-->
            <section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="#">
                <div class="overlay_dark" style="background: url('/assets/img/bg/bg-img.png');"></div>
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-12">
                            <div class="inner_cover_content">
                                <h3>
                                    Login
                                </h3>
                            </div>
                        </div>
                    </div>
            
                    <div class="breadcrumbs">
                        <ul>
                            <li><a href="#">Home</a>   |  </li>
                            <li><span>Login</span></li>
                        </ul>
                    </div>
                </div>
            </section>
            <!--about section -->
<section class="pt100 pb100">
    <div class="container">
 
                                {% block fos_user_content %}
                                {% endblock fos_user_content %}
                        

    </div>
</section>
<!--about section end -->

                
            <!--footer start -->
            <footer>
                <div class="container">
                    <div class="row justify-content-center">
            
                        <div class="col-md-4 col-12">
                            <div class="footer_box">
                                <div class="footer_header">
                                    <div class="footer_logo">
                                        <img src="/assets/img/logo.png" alt="evento">
                                    </div>
                                </div>
                                <div class="footer_box_body">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus massa nec gravida tempus. Integer iaculis in aazzzCurabitur a pulvinar nunc. Maecenas laoreet finibus lectus, at volutpat ligula euismod.
                                    </p>
                                    <ul class="footer_social">
                                        <li>
                                            <a href="#"><i class="ion-social-pinterest"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ion-social-facebook"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ion-social-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ion-social-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a href="#"><i class="ion-social-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
            
                        
            
                        <div class="col-12 col-md-4">
                            <div class="footer_box">
                                <div class="footer_header">
                                    <h4 class="footer_title">
                                        subscribe to our newsletter
                                    </h4>
                                </div>
                                <div class="footer_box_body">
                                    <div class="newsletter_form">
                                        <input type="email" class="form-control" placeholder="E-Mail here">
                                        <button class="btn btn-rounded btn-block btn-primary">SUBSCRIBE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="copyright_footer">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-12">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                        <div class="col-12 col-md-6 ">
                            <ul class="footer_menu">
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Speakers</a>
                                </li>
                                <li>
                                    <a href="#">Events</a>
                                </li>
                                <li>
                                    <a href="#">News</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--footer end -->

        
    
    {% block javascripts %}
    <!-- calander js -->
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
        <script src="{{ asset('/simplecalendar.js') }}"></script>
  <!-- jquery -->
<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
<!-- bootstrap -->
<script src="{{ asset('assets/js/popper.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/waypoints.min.js') }}"></script>
<!--slick carousel -->
<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
<!--parallax -->
<script src="{{ asset('assets/js/parallax.min.js') }}"></script>
<!--Counter up -->
<script src="{{ asset('assets/js/jquery.counterup.min.js') }}"></script>
<!--Counter down -->
<script src="{{ asset('assets/js/jquery.countdown.min.js') }}"></script>
<!-- WOW JS -->
<script src="{{ asset('assets/js/wow.min.js') }}"></script>
<!-- Custom js -->
<script src="{{ asset('assets/js/main.js') }}"></script>
<!-- Custom axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    
</script>

    {% endblock %}
</body>
</html>