{% extends "baseF.html.twig" %}
{% block body %}
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="#">
    <div class="overlay_dark" style="background: url('/assets/img/bg/inner_cover.png');"></div>
    <div class="container" >
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content" >
                    <h3>
                        Evenement
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="{{ path('eventfront') }}">Evento</a>  |  </li>
                <li><span>Evenement</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->

<!--about section -->
<section class="pt100 pb100">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                Liste des evenement
            </h3>
        </div>

 <!--       <div class="row justify-content-center">
                <div class="col-12 col-md-6">
                       
                        <div class="widget widget_search">
                            <div class="search-form">
                                
                                <button class="btn btn-rounded btn-block btn-primary">Rechercher</button>
                                
                            </div>
                            
                        </div>
                        
                </div>
                <div class="col-12 col-md-6">
                            <p>e Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, </p>
                </div>
                

            </div>-->
       
        
    </div>
</section>
<!--about section end -->

<!--Event section-->
<section class="pb100">
    <div class="row justify-content-center no-gutters">
   {% for evenement in evenements %}
        <div class="col-md-3 col-sm-6">
            <div class="speaker_box">
                <div class="speaker_img">
                    <img width="382" height="385" src="/uploads/{{ evenement.image }}" alt="speaker name">
                    <div class="info_box">
                        <h5 class="name">{{ evenement.titre }}</h5>
                        <p class="position">{{ evenement.debutAt ? evenement.debutAt|date('Y-m-d') : '' }} | Prix :{{ evenement.prix }} {{ evenement.devises.titre }} | Place dispo {{ evenement.nbrPlace }} | 
                            <!--like likn-->
                            <a href="{{ path('post_like',{'id' : evenement.id } ) }}" class="readmore_btn js-like-link">
                            {% if app.user and evenement.isLikedByUser(app.user) %}
                            <i class="fas fa-thumbs-up"></i>
                            {% else %}
                            <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            
                                
                                <span class="js-LikesEvent">{{ evenement.likes | length }}</span>
                                <span class="js-labelEvent">J'aime</span>
                        
                            </a>
                            <!--end like link -->
                        </p>
                    </div>
                </div>
               
                   
                
                <div class="speaker_social">
                    
                   <!-- <p>
                        
                            {{ evenement.description }}
                    </p>-->
                    <ul>
                        <li>
                            <a href="#"><i class="ion-social-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="ion-social-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="ion-social-instagram"></i></a>
                        </li>
                        
                        <li>
                            <a href="{{ path('detailevent', {'id': evenement.id}) }}" class="readmore_btn">+</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        
        {% endfor %}
        
    </div>
</section>
<!--event section end -->


{% endblock %} 

