{% extends 'baseF.html.twig' %}

{% block body %}
<section class="inner_cover parallax-window" data-parallax="scroll" data-image-src="#">
    <div class="overlay_dark" style="background: url('/assets/img/bg/bg-img.png');"></div>
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12">
                <div class="inner_cover_content">
                    <h3>
                        News
                    </h3>
                </div>
            </div>
        </div>

        <div class="breadcrumbs">
            <ul>
                <li><a href="#">Home</a>   |  </li>
                <li><span>News</span></li>
            </ul>
        </div>
    </div>
</section>
<!--page title section end-->


<!--events section -->
<section class="pt100 pb100">
    <div class="container">
        <div class="row justify-content-center">
            <!--blog section start -->
            
                <div class="col-12 col-md-8" id="result">
                    {% for event in eventsdate %}
                    <div class="blog_card">
                        <img width="754" height="462" src="/uploads/{{ event.image }}" alt="blog News ">
                        <div class="blog_box_data">
                            <span class="blog_date">
                                {{ event.debutAt ? event.debutAt|date('F j, Y,') : '' }}
                
                            </span>
                            <div class="blog_meta">
                                <span><a href="#"> nombre de place :{{ event.nbrPlace }}</a></span> | <span><a href="#">
                                        {{ event.category.titre }} </a></span>| <span><a href="#">{{ event.prix }}
                                        {{ event.devises.titre }}</a></span>
                            </div>
                            <h5>
                                {{ event.titre }}
                            </h5>
                            <p class="blog_word">
                                {{ event.description }}
                            </p>
                            <a href="{{ path('detailevent', {'id': event.id}) }}" class="readmore_btn">Read More</a>
                        </div>
                    </div>
                    {% endfor %}
           
            
                


               

            </div>
            <!--blog section end-->

            <!--sidebar section -->
            <div class="col-12 col-md-4">
                <div class="sidebar">
                    <div class="widget widget_search">
                        <div class="search-form">
                            <input type="text" id="search_text" name="search_text" class="search-field" placeholder="Search">
                        </div>
                    </div>
                    <div class="widget widget_categories">
                        <h4 class="widget-title">
                            Archives
                        </h4>
                        <ul>
                            {% for arch in archives %}

                            <li><a  href="{{ path('searchEvent', {'date': arch.debutAt ? arch.debutAt|date('m-Y') : '' , 'id': 'null'}) }}">{{ arch.debutAt ? arch.debutAt|date('F Y') : '' }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget widget_categories">
                            {% if '-' in app.request.requestUri %}
                            
                        <h4 class="widget-title">
                            Categories 
                        </h4>                    
                        
                        {% for categorie in categorys %}
                        <ul>
                                
                            <li><a href="{{ path('searchEvent', {'date': date ,'id': categorie.id }) }}">{{ categorie.titre }}</a></li>
                        </ul>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="widget widget_latest_post">
                        <h4 class="widget-title">
                            Latest Posts
                        </h4>
                        <ul>
                            
                            <li>
                                <div class="widget_recent_posts">
                                    <img height="62" width="100" src="/uploads/{{ event1.image }}" alt="news">
                                    <div class="content">
                                        <a href="#">{{ event1.titre}}</a>
                                        <p> {{ event1.debutAt ? event1.debutAt|date('F j, Y,') : '' }}</p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                    <div class="widget_recent_posts">
                                        <img height="62" width="100" src="/uploads/{{ event2.image }}" alt="news">
                                        <div class="content">
                                            <a href="#">{{ event2.titre}}</a>
                                            <p> {{ event2.debutAt ? event2.debutAt|date('F j, Y,') : '' }}</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                        <div class="widget_recent_posts">
                                            <img height="62" width="100" src="/uploads/{{ event3.image }}" alt="news">
                                            <div class="content">
                                                <a href="#">{{ event3.titre}}</a>
                                                <p> {{ event3.debutAt ? event3.debutAt|date('F j, Y,') : '' }}</p>
                                            </div>
                                        </div>
                                    </li>
                          
                            
                        </ul>
                    </div>

                    
                    <div class="widget widget_tags">
                        <h4 class="widget-title">
                            Tags
                        </h4>
                        <ul>
                            <li><a href="#">branding</a></li>
                            <li><a href="#">identity</a></li>
                            <li><a href="#">design</a></li>
                            <li><a href="#">inspiration</a></li>
                            <li><a href="#">web design</a></li>
                            <li><a href="#">video</a></li>
                            <li><a href="#">photography</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--sidebar section end -->

        </div>
    </div>
</section>

{% endblock %}
